{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{ wallet.balance}}  {{ wallet.currency }}</h1>
          <span class="subheading">{{ wallet.name }}</span>
            <a class="btn btn-secondary text-uppercase"
               href="{{ url_for('add_money', current_wallet_id=wallet.id)}}">Add money →</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}

  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Transaction preview-->
<div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right"
          href="{{url_for('create_transaction', current_wallet_id=wallet.id)}}"
          >Create Transaction →</a>

        <a class="btn btn-secondary text-uppercase" href="{{ url_for('my_contacts')}}">Send money to a friend →</a>
    </div>

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>
      </div>
    <div class="datatable-top">
    <div class="datatable-dropdown">
            <label>
                <select class="datatable-selector"><option value="5">5</option><option value="10" selected="">10</option>
                    <option value="15">15</option><option value="20">20</option><option value="25">25</option>
                </select> entries per page
            </label>
        </div>
    <div class="datatable-search">
            <input class="datatable-input" placeholder="Search..." type="search" title="Search within table" aria-controls="datatablesSimple">
        </div>
</div>

<div class="datatable-container">
    <table id="datatablesSimple" class="datatable-table">
        <thead>
        <tr>

            <th data-sortable="true" style="width: 18.067978533094813%;"><a href="#" class="datatable-sorter">Sender</a></th>
            <th data-sortable="true" style="width: 24.686940966010734%;"><a href="#" class="datatable-sorter">Receiver</a></th>
            <th data-sortable="true" style="width: 15.56350626118068%;"><a href="#" class="datatable-sorter">Amount</a></th>
            <th data-sortable="true" style="width: 10.554561717352415%;"><a href="#" class="datatable-sorter">Currency</a></th>
            <th data-sortable="true" style="width: 16.27906976744186%;"><a href="#" class="datatable-sorter">Start date</a></th>
            <th data-sortable="true" style="width: 14.847942754919499%;"><a href="#" class="datatable-sorter">Salary</a></th>

        </tr>
        </thead>
        <tbody>
        {% for t in transactions%}
        <tr data-index="0"><td>{{t.sender}}</td><td>{{t.receiver}}</td><td>{{t.amount}}</td><td>{{t.currency}}</td><td>{{t.date}}</td><td>$320,800</td></tr>
<!--        <tr data-index="1"><td>Garrett Winters</td><td>Accountant</td><td>Tokyo</td><td>63</td><td>2011/07/25</td><td>$170,750</td></tr>-->
<!--        <tr data-index="2"><td>Ashton Cox</td><td>Junior Technical Author</td><td>San Francisco</td><td>66</td><td>2009/01/12</td><td>$86,000</td></tr>-->
<!--        <tr data-index="3"><td>Cedric Kelly</td><td>Senior Javascript Developer</td><td>Edinburgh</td><td>22</td><td>2012/03/29</td><td>$433,060</td></tr>-->
        {%endfor%}
        </tbody>
    </table>
</div>
    </div>
  </div>
</div>

{% include "footer.html" %}