{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>0 EUR</h1>
          <span class="subheading">Here i can put something!</span>
            <a class="btn btn-secondary text-uppercase" href="{{url_for('add_money')}}">Add money →</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">

  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Transaction preview-->
<div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right"
          href="{{url_for('get_all_posts')}}"
          >Create Transaction →</a>

        <a class="btn btn-secondary text-uppercase" href="#!">Send money to a friend →</a>
    </div>

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>
      </div>
    <div class="datatable-top">
    <div class="datatable-dropdown">
            <label>
                <select class="datatable-selector"><option value="5">5</option><option value="10" selected="">10</option>
                    <option value="15">15</option><option value="20">20</option><option value="25">25</option>
                </select> entries per page
            </label>
        </div>
    <div class="datatable-search">
            <input class="datatable-input" placeholder="Search..." type="search" title="Search within table" aria-controls="datatablesSimple">
        </div>
</div>

<div class="datatable-container">
    <table id="datatablesSimple" class="datatable-table">
        <thead>
        <tr>
            <th data-sortable="true" style="width: 18.067978533094813%;"><a href="#" class="datatable-sorter">Sender</a></th>
            <th data-sortable="true" style="width: 24.686940966010734%;"><a href="#" class="datatable-sorter">Receiver</a></th>
            <th data-sortable="true" style="width: 15.56350626118068%;"><a href="#" class="datatable-sorter">Amount</a></th>
            <th data-sortable="true" style="width: 10.554561717352415%;"><a href="#" class="datatable-sorter">Currency</a></th>
            <th data-sortable="true" style="width: 16.27906976744186%;"><a href="#" class="datatable-sorter">Start date</a></th>
            <th data-sortable="true" style="width: 14.847942754919499%;"><a href="#" class="datatable-sorter">Salary</a></th>
        </tr>
        </thead>
        <tbody>
        <tr data-index="0"><td>Tiger Nixon</td><td>System Architect</td><td>Edinburgh</td><td>61</td><td>2011/04/25</td><td>$320,800</td></tr>
        <tr data-index="1"><td>Garrett Winters</td><td>Accountant</td><td>Tokyo</td><td>63</td><td>2011/07/25</td><td>$170,750</td></tr>
        <tr data-index="2"><td>Ashton Cox</td><td>Junior Technical Author</td><td>San Francisco</td><td>66</td><td>2009/01/12</td><td>$86,000</td></tr>
        <tr data-index="3"><td>Cedric Kelly</td><td>Senior Javascript Developer</td><td>Edinburgh</td><td>22</td><td>2012/03/29</td><td>$433,060</td></tr>
        <tr data-index="4"><td>Airi Satou</td><td>Accountant</td><td>Tokyo</td><td>33</td><td>2008/11/28</td><td>$162,700</td></tr>
        <tr data-index="5"><td>Brielle Williamson</td><td>Integration Specialist</td><td>New York</td><td>61</td><td>2012/12/02</td><td>$372,000</td></tr>
        <tr data-index="6"><td>Herrod Chandler</td><td>Sales Assistant</td><td>San Francisco</td><td>59</td><td>2012/08/06</td><td>$137,500</td></tr>
        <tr data-index="7"><td>Rhona Davidson</td><td>Integration Specialist</td><td>Tokyo</td><td>55</td><td>2010/10/14</td><td>$327,900</td></tr>
        <tr data-index="8"><td>Colleen Hurst</td><td>Javascript Developer</td><td>San Francisco</td><td>39</td><td>2009/09/15</td><td>$205,500</td></tr>
        <tr data-index="9"><td>Sonya Frost</td><td>Software Engineer</td><td>Edinburgh</td><td>23</td><td>2008/12/13</td><td>$103,600</td></tr>
        </tbody>
    </table>
</div>


    </div>
  </div>
</div>

{% include "footer.html" %}
